@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  font-family: sans-serif;

  background-image: url(./assets/bg-white.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: auto;

}

header {
  margin: auto;
}

a{
  cursor: pointer!important;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(28, 25, 48);
}

button {
  cursor: pointer!important;
  border: none;
  border-radius: 5px;
  padding: 1ch;
  font-size: medium;
  width: fit-content;
}

.logout{
  background-color: red;
  color: #fafafa;
}


.user-details{
  margin-right: 1em;
}

.error{
  border: 1px solid red;
  border-radius: 5px;
  padding:2%;
}

.main-container h1 {
  display: flex;
  justify-content: center;
}

.member{
  display: flex;
  width: 70%;
  margin:0 auto;
}

.userlinks {
  display:flex;
  justify-content: space-between;
  padding: 1%;
  margin-right: 20%;
  margin-left: 20%; 
}

.userlinks a:hover {
  font-style: italic;
}


.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.userstate{
  display: flex;
  justify-content: flex-end;
}

FORUM 
.forum-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.forum-form{
  display: grid;
  width: 100%;
  justify-items: center;
  gap: 0.5em;
}
.forum-form h3{
  padding: 0;
  margin-bottom:0.6em;
}
.forum-form input, textarea {
  width: 50vw;
  font-size: larger;
}

#textShadow {
  text-shadow: 1px 1px 3px #00000034;
}

#quizCommingSoon {
background-color: #fafafa65;
display: flex;
align-items: center;
justify-content: center;
height: 84vh;
text-align: center;
align-items: center;

text-shadow: 1px 1px 3px #00000034;
}

#handleMiddle {
height: 96vh;
padding-top: 70px;
padding-bottom: 70px;
}

/* COOKIE CONSENT PROPERTIES
---------------------------------- */
#accept-btn,
#cancel-btn {
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  margin: 0 5px;
}

#accept-btn:hover {
  cursor: pointer;
  background-color: #c5df95;
  font-weight: bolder;
}

#cancel-btn:hover {
  cursor: pointer;
  background-color: #e66465;
  font-weight: bolder;
}

.fa-cookie{
  margin-bottom: 3%;
  background: -webkit-linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  #cookie-consent{
    width: 100%;
    height: 40%;
    text-align:center;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    padding: 5%;
  background-color: rgb(255, 255, 255);

  opacity: 1;
  transition: opacity .5s ease;
}

#cookie-consent.active {
  bottom:0;
}

#cookie-consent a {
  text-decoration: none;
  color: #fff;
}

#cookie-consent a:hover {
  text-decoration: none;
  color: #9198e5;
}

.terms{
  color: rgb(49, 49, 49);
  font-weight: bolder;
  font-style: italic;
}

.terms:hover {
  transition: 6ms;
}

.aLink{
  margin-bottom: 2em;
  color: black;
  font-style: italic;
}
